/******** HEADER ********/
@media (max-width: 700px) {
	header {
		height: 150px;
	}
	header.shrink {
		transform: translateY(-36px);
	}
	#content:before {
		height: 150px;
	}
	header .logo {
		top: 24px;
		left: 6.8%;
	}
	header.shrink .logo {
	    transform: translateY(18px) scale(0.8);
	}
	header nav {
	    right: auto;
	    left: 6.8%;
	    top: 87px;
	}
	header.shrink nav {
	    transform: translateY(16px);
	}
	header nav li {
		margin-left: 0;
		margin-right: 1em;
	}
}
@media (max-width: 450px) {
	header,
	#content:before {
		height: 138px;
	}
	header .logo {
		top: 41px;
		font-size: 0;
	}
	header.shrink .logo {
	    transform: translateY(11px);
	}
	header .logo svg {
		width: 134px;
		height: 33px;
	}
	header.shrink nav {
	    transform: translateY(8px);
	}
	header nav li {
		font-size: 0.82rem;
	}
}

/******** CROPPED GRID / HOMEPAGE ********/
@media (max-width: 960px) {
	.cropped-grid {
		margin-bottom: 10%;
	}
	.cropped-grid .cell,
	.cropped-grid .cell:nth-child(3n) {
	    /*flex-basis: 49.495%;*/
	    width: 49.495%;
	    margin-right: 1.01%;
	}
	.cropped-grid .cell:nth-child(2n) {
	    /*flex-basis: 49.495%;*/
	    margin-right: 0;
	}
	.cropped-grid figcaption,
	.cropped-grid .cell:nth-child(3n + 1) figcaption {
	    padding: 3.6% 4.2% 0;
	}
	.cropped-grid .cell:nth-child(2n + 1) figcaption {
	    padding-left: 6.8%;
	}
}
@media (max-width: 600px) {
	.cropped-grid .cell,
	.cropped-grid .cell:nth-child(3n),
	.cropped-grid .cell:nth-child(2n) {
	    /*flex-basis: 100%;*/
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 7%;
	}
	.cropped-grid figcaption,
	.cropped-grid .cell:nth-child(3n + 1) figcaption,
	.cropped-grid .cell:nth-child(2n + 1) figcaption {
	    padding: 3.6% 6.8% 0;
	}
}
@media (max-width: 450px) {
	.cropped-grid figcaption {
		font-size: 0.9rem;
	}
}

/******** MASONRY GRID ********/
@media (max-width: 1280px) {
	.writeup {
		max-width: none;
		width: 41%;
	}
}
@media (max-width: 960px) {
	.writeup {
		width: 60%;
	}
	.gridpage .cell:hover .lb-add-remove,
	.gridpage .cell.active .lb-add-remove {
		transition: opacity .3s 0s;
	}
}
@media (max-width: 700px) {
	.writeup {
	    width: 86.4%;
	    margin: 4.9% 0 5% 6.8%;
	}
	.masongrid, .ratiogrid {
		width: 100%;
	}
}
@media (max-width: 450px) {
	h1 {
		font-size: 1.6rem;
	}
	.slide-caption > div {
	    font-size: 1rem;
	}
}


/******** SLIDESHOW ********/
@media (max-width: 700px) {
	.ui.prev,
	.ui.next {
		padding: 30px 6%;
		bottom: 0;
		top: auto;
	}
	.ui.prev {
		transform: none !important;
	}
	.ui.next {
		transform: rotate(180deg) !important;
	}
	.slide-caption {
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		justify-content: center;
	}
	.slickslideshow .cell .photo,
	.popup .cell .photo {
		max-width: 100%;
	}
	.slickslideshow .cell .inner,
	.popup .cell .inner {
		max-width: 100%;
		width: 100%;
	}
}


/******** INFO ********/
@media (max-width: 960px) {
	.textpage div {
	    flex-basis: 60%;
	}
	.textpage div:last-child {
	    flex-basis: 30%;
	}
}
@media (max-width: 700px) {
	.inner.textpage {
		width: 100%;
		justify-content: center;
	}
	.textpage div {
	    flex-basis: 80.5%;
	}
	.textpage div:last-child {
	    flex-basis: 80.5%;
	    margin-top: 4%;
	}
}
@media (max-width: 600px) {
	.textpage div {
	    flex-basis: 86.4%;
	}
}

/******** FOOTER ********/
@media (max-width: 960px) {
	footer .social li {
	    margin-left: 2em;
	}
	footer .social li svg {
	    height: 2em;
	    width: 2em;
	}
}
@media (max-width: 700px) {
	footer .inner {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
		flex-wrap: wrap;
	}
	footer .social .icons {
		margin-top: 1.4em;
	}
	footer .social li {
		margin-left: 0;
		margin-right: 2em;
	}
}

/******** LIGHTBOX ********/
@media (max-width: 800px) {
	.pdf_select article ul li {
	    display: block;
	    padding: 1em 0em;
	    margin: 0 0 1em;
	}
	.pdf_select article ul li img {
	    display: none;
	}
	.pdf_select article ul li h2 {
	    padding: 0;
	}
}
@media (max-width: 600px) {
	.pdf_select article, .pdfOverlay article {
	    box-shadow: 0px 5px 19px 0px rgba(0,0,0,.12);
	    width: 86.4%;
	    overflow: hidden;
	    box-sizing: border-box;
	    padding: 2em 3em;
	}
	.theLink {
	    line-height: 1.5;
	}
	.pdfOverlay .linkHolder span {
		overflow: hidden;
	}
}
@media (max-width: 400px) {
	.lbtools li {
	    display: block;
	    margin: 0 0 1em;
	    width: max-content;
	}
	.pdf_select article, .pdfOverlay article {
		padding: 2em 2em;
	}
	.pdf_select article ul {
	    padding: 1em 0em;
	}
	.lb-para {
	    line-height: 1.5;
	}
}
